<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div id="opc-sidebar"
     data-bind="afterRender:setModalElement, mageInit: {
    'Magento_Ui/js/modal/modal':{
        'type': 'custom',
        'modalClass': 'opc-sidebar opc-summary-wrapper',
        'wrapperClass': 'checkout-container',
        'parentModalClass': '_has-modal-custom',
        'responsive': true,
        'responsiveClass': 'custom-slide',
        'overlayClass': 'modal-custom-overlay',
        'buttons': []
    }}">

    <!-- ko foreach: getRegion('summary') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <div style="background: #EFEFEF;padding: 12px 17px;color:#000000;font-size: 15px;margin:0 30px;" data-bind="visible: showFreeShipping, text:toFreeShipping">
        <!--You're <span data-bind="text:toFreeShipping" style="color:#ff0000;">$21.01</span> away from <b>free shipping.</b>-->
    </div>

    <div class="opc-block-shipping-information">
        <!-- ko foreach: getRegion('shipping-information') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
</div>
